.btn-cont{
    background-color: orange;
    padding: 20px 30px;
    border-radius: 15px;
    cursor: pointer;
    margin: 3px;
}


.btn-cont:hover{
    background-color: rgb(255, 186, 57);
}

.btn-cont-danger{
    background-color: rgb(255, 34, 0);
    color: gold;
}


.btn-cont-danger:hover{
    background-color: rgb(255, 70, 57);
    color: rgb(225, 255, 0);
}

.btn-primary:hover{
    background-color: rgb(252, 185, 61);

}